{% load static %}
<footer id="main-footer">
    <div class="container">
            <hr/>
        <div class="row row-wrap">
            <div class="col-md-3">
                <ul class="list list-footer">
                    <li>
                        <a href="https://github.com/castaway2000">My github</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-4">
                <h4>Impressed? Questions? <a href="mailto:szablya@gmail.com">Email me.</a>
            </div>
        </div>
    </div>
</footer>