{% extends 'base.html' %}
{% include static %}
{% block content %}
    <div class="container">
        <div class="row row-wrap">
            <div class="col-md-5">
                <h2>Do the thing!</h2>
                <div class="list-group">
                    <div class="list-group-item">
                        <form action="." method="POST" enctype="application/x-www-form-urlencoded">
                            {% csrf_token %}
                            <label>Select your test</label>
                            <br/>
                            <select name='testfile' class="mdb-select colorful-select dropdown-primary scrollable-menu" style="width: 300px" multiple>
                                {% for test in testsuites %}
                                    <option value="{{ test.id }}">{{ test.name }}</option>
                                {% endfor %}
                            </select>
                            <br/><br/>
                            <label>Select your target</label>
                            <br/>
                            <select name='target' class="mdb-select colorful-select dropdown-primary scrollable-menu" style="width: 300px" multiple>
                                {% for host in host_list %}
                                    <option value="{{ host.id }}">{{ host.name }} - {{ host.ip_address }}</option>
                                {% endfor %}
                            </select>
                            <br/><br/>
                            <input type="submit" value="Run Tests" class="btn-md btn-danger"/>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                    <h2>Setup:</h2>
                    <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>To start running tests you need to do a few things.</h4>
                        first is you need a superuser account. do this by running
                        <strong>python3 manage.py creatsuperuser</strong>
                        <br/>
                        After you do this you can login to the admin page and add your tests and target hosts.
                    </div>
                    </div>
                    <h3>Notes:</h3>
                    <div class="panel panel-default">
                    <div class="panel-body">
                        When creating the yaml files for the test paths please make sure the paths are correct.
                        an example yaml file is available for you to refrence and test your application from.
                    </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}