{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row row-wrap">
            <div class="col-md-6">
                <h2>Running</h2>
                <div class="list-group">
                    <div class="list-group-item">
                        TESTS CURRENTLY Running
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                    <h2>Finished:</h2>
                    <div class="list-group">
                    <div class="list-group-item">
                        TESTS THAT ARE FINISHED RUNNING
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}